In [1]:
import pandas as pd
import numpy as np

In [3]:
food_data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [6]:
food_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

Q. 11
What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [19]:
AFats = food_data.groupby(['Item']).get_group('Animal fats')
AFats2014 = AFats['Y2014'].sum()
AFats2017 = AFats['Y2017'].sum()

print(AFats2014)
print(AFats2017)

209460.54
269617.53

Q. 12 What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [28]:
Food15 = food_data['Y2015']
print(np.around(Food15.mean(), 3))
print(np.around(Food15.std(), 3))

135.236
1603.404

Question 13
What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [42]:
Food16 = food_data['Y2016']
print(Food16.isnull().sum())
perc = Food16.isnull().sum() * 100/len(Food16)

print(np.around(perc, 2))

1535
2.52

Question 14
Which year had the highest correlation with ‘Element Code’?

In [59]:
food_data.groupby('Element Code').corr().sum()

Area Code    18.493731
Item Code    25.835666
Y2014        86.012975
Y2015        85.248146
Y2016        87.093281
Y2017        86.958780
Y2018        86.516790
dtype: float64

Question 15
What year has the highest sum of Import Quantity?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [44]:
Elem = food_data.groupby('Element')

In [61]:
Elem.get_group('Import Quantity').sum()

Area Code                                                  688174
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                13795966
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             28834929
Element         Import QuantityImport QuantityImport QuantityI...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                   274144.48
Y2015                                                   267018.46
Y2016                                                   286582.78
Y2017                                                   294559.09
Y2018                                                   287997.09
dtype: object

Question 16
What is the total number of the sum of Production in 2014?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [66]:
Elem = food_data.groupby('Element')
Elem.get_group('Production').sum()

Area Code                                                  526751
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                10450053
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21388191
Element         ProductionProductionProductionProductionProduc...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                  1931287.75
Y2015                                                  1947019.39
Y2016                                                  1943537.15
Y2017                                                  2030056.89
Y2018                                                  2075072.89
dtype: object

Q. 17 Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [67]:
select = food_data[['Y2018', 'Element']]

          Y2018                                 Element
0      42228.00           Total Population - Both sexes
1          0.00                Domestic supply quantity
2       3322.00           Food supply (kcal/capita/day)
3         91.83  Protein supply quantity (g/capita/day)
4         77.28      Fat supply quantity (g/capita/day)
...         ...                                     ...
60938     16.00                                    Food
60939      1.08     Food supply quantity (kg/capita/yr)
60940      1.00           Food supply (kcal/capita/day)
60941      0.04  Protein supply quantity (g/capita/day)
60942      0.01      Fat supply quantity (g/capita/day)

[60943 rows x 2 columns]